
main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
}

header {
    color: aqua;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 15px;
    padding: 15px
}

.card-header {
    color: white;
    background-color: rgb(181, 130, 229);
}

.card {
    padding: 15px;
    margin: 15px
}

.list-group {
    color: rgb(28, 6, 6);
}

.list-group-item {
    overflow: visible;
    white-space: nowrap;
}

#email {
    color: rgb(79, 21, 79);
}